@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* @import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap'); */

body {
  /* font-family: 'Lora', serif; */
  font-family: 'Rubik', sans-serif;
  background-color: aliceblue;
  /* background: linear-gradient(to bottom, rgb(69, 88, 212) 60%, rgb(202, 208, 212) 190%); */
}

header {
  font-size: 20px;
  padding: 20px;
  background: radial-gradient(circle, rgb(69, 88, 212) 60%, rgb(202, 208, 212) 190%);
  width: 100%;
  max-width: 1280px;
  display: block;
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
  display: inline-block;
  margin: auto 16px;
}  

a:hover {
  color:rgb(27, 255, 137);
}


nav {
  text-align: center;
  margin: auto;
  display: block;
}

p {
  font-size: 16px;
  line-height: 25px;
  margin: 10px auto;
}

.title {
  margin: 10px auto;
  font-size: 22px;
  text-align: center;
}

section {
  max-width: 600px;
  margin: 12px auto;
  padding: 15px;
  background-color: rgb(141, 209, 255);
  display: block;
  border-style: outset;
  border-width: 4px;
  border-color: rgb(255 255 255);
  border-radius: 25px;
}

.input2 {
  border-radius: 10px;
  border-style: none;
  background-color: aliceblue;
  margin: 15px auto 10px;
  width: 100%;
  max-width: 100px;
  height: 50px;
  display: block;
}

.input2:hover {
  background-color: rgb(27, 255, 137);
}

main {
  width: 100%;
  max-width: 1280px;
}

img {
  width: 100%;
  max-width: 800px;
  height: auto;
  margin: 20px auto;
  border-radius: 8px;
}
